.project-panel {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  position: relative;
  max-width: 325px;
  border-radius: 16px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.project-panel:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.project-panel-image {
  transition: all .3s;
  width: 100%;
  z-index: -1;
  filter: blur(0px);
}

.project-panel:hover > .project-panel-image {
  filter: blur(4px);
}

.project-panel:hover > .project-panel-text-content {
  text-shadow: 1px 1px 6px black;
}

.project-panel-content {
  transition: all .3s;
  background: linear-gradient(#18191e83, #18191EFF);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100% - 32px);
  width: calc(100% - 32px);
  bottom: 0px;
  left: 0px;
  padding: 16px;
  text-shadow: 1px 1px 6px black;
}

.project-panel-title {
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.project-panel-description {
  font-family: 'Merriweather', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.project-panel-tags {
  display: flex;
  column-gap: 8px;
  row-gap: 8px;
  flex-wrap: wrap;
}

.project-panel-tag {
  white-space: nowrap;
  background-color: #FFF9FB;
  color: #23242C;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-size: 12px;
  line-height: 12px;
  height: 12px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-shadow: none;
  padding: 4px 6px;
}

.project-panel-bottom-section {
  margin-top: auto;
}

.project-panel-buttons {
  display: flex;
  justify-content: flex-start;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 24px;
  padding: 0;
  gap: 12px;
  white-space: pre;
}

.github-button {
  position: relative;
  transition: all .3s;
  box-sizing: border-box;
  color: black;
  background-color: white;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-button-icons {
  width: 100%;
  height: 100%;
}

.github-button-icons > img {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 8px;
  top: 8px;
}

.github-icon {
  opacity: 1;
  transition: all .3s;
}

.github-icon-white {
  opacity: 0;
  transition: all .3s;
}

.github-button:hover > .github-button-icons > .github-icon {
  opacity: 0;
}

.github-button:hover > .github-button-icons > .github-icon-white {
  opacity: 1;
}

.project-button {
  position: relative;
  transition: all .3s;
  box-sizing: border-box;
  color: black;
  background-color: white;
  height: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
}

.project-icon {
  font-size: 32px;
}

.project-button:hover, .github-button:hover {
  background-color: #FF5618;
  color: white;
}

@media (max-width: 576px) {
  .project-panel {
    max-width: 100%;
  }

  .project-panel-title {
    font-size: 32px;
  }

  .project-panel-description {
    font-size: 18px;
    line-height: 26px;
  }
}
