.hero {
  font-family: 'Merriweather', serif;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 48px;
  animation-name: slide-in-from-right;
  animation-duration: 1s;
}

.terminal-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  width: 100%;
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .hero {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 24px;
  }
  
  .terminal-container {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
  }
}