.header {
  display: flex;
  justify-content: space-between;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
}

.subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.navigation {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  gap: 64px;
}

.navigation > a {
  position: relative;
}

.navigation > a::before {
  content:'â¯ ';
  transition: .3s;
  position: absolute;
  font-weight: 600;
  line-height: 30px;
  left: -24px;
  opacity: 0;
  color: #FF5618;
}

.navigation > a:hover::before {
  left: -20px;
  opacity: 1;
}