@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Raleway:wght@300;400;600&display=swap');

body {
  background-color: #18191E;
}

.App {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #FFF9FB;
  margin: 32px 64px;
}

.highlight {
  color: #FF5618;
}