@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Raleway:wght@300;400;600&display=swap');

body {
  margin: 32px 64px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 400;
  background-color: #18191E;
  color: #FFF9FB;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.highlight {
  color: #FF5618;
}

.link {
  text-decoration: underline;
  text-decoration-color: #FF5618;
  transition: color 0.3s;
}

.link:hover {
  color: #FF5618;
}