@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Lato:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300&family=PT+Sans:wght@400;700&family=Raleway:wght@300;400;600;700&family=Source+Code+Pro&display=swap');

:root {
  --font-sm: 16px;
  --line-height-sm: 20px;

  --font-md: 18px;
  --line-height-md: 24px;

  --font-lg: 22px;
  --line-height-lg: 32px;

  --font-xl: 32px;
  --line-height-xl: 42px;

  --font-xxl: 48px;
  --line-height-xxl: 60px;
  
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  
  --background: #18191E;
  --background-half-opacity: #18191E83;
  --background-full-opacity: #18191EFF;
  --off-white: #FFF9FB;
  --blue-green: #4e8e9e;
  --highlight: #FF5618;

  --standard-transition: all 0.3s;
}

body {
  margin: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: var(--font-md);
  font-weight: var(--font-weight-regular);
  background-color: var(--background);
  color: var(--off-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.highlight {
  color: var(--highlight);
}

.link {
  text-decoration: underline;
  text-decoration-color: var(--blue-green);
  transition: all 0.3s;
}

.link:hover {
  color: var(--highlight);
  text-decoration-color: var(--highlight);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


@media (max-width: 576px) {
  body {
    margin: 12px;
  }
}

@keyframes slide-in-from-left {
  from {
    opacity: 0;
    transform: translateX(-32px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-from-right {
  from {
    opacity: 0;
    transform: translateX(32px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes slide-in-from-bottom {
  from {
    opacity: 0;
    transform: translateY(32px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in-from-top {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}